.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 33vh;     /* or 10% if you prefer */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border: 1px solid rgb(0, 0, 0); /* also fix typo below */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;            /* takes remaining space */
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 33vh;     /* or use percent */
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
}
