.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.input {
  padding: 8px;
  font-size: 16px;
}

.button {
  padding: 8px;
  cursor: pointer;
}